body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #333;
    height: 50px;
    width: 100%;
    margin: 0;
}

.body {
    display: flex;
}

article {
    height: 100px;
    width: 700px;
    flex-basis: 65%;
    margin-left: 20px;
}

article .big-size {
    background-color: #685a5a;
    height: 300px;
    margin: 0 20px;
}

.main-smallBox {
    height: 10px;
    width: 60px;
    display: inline-block;
    background-color: #333;
    margin: 0 0 0 20px;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 18%;
}

.large-box {
    background-color: #ccc;
    height: 150px;
    margin-bottom: 10px;
}

.medium-boxes {
    background-color: #ccc;
    width: 100%;
    height: 15px;
    margin-bottom: 5px;
}

.small-boxes {
    display: flex;
}

.small-box {
    background-color: #ccc;
    height: 15px;
}

.small-box:first-child {
    flex: 3;
    margin-right: 20px;
}

.small-box:last-child {
    flex: 1;
}

aside {
    float: right;
    flex-basis: 35%;
}

.main-arrow {
    float: right;
    margin-right: 20px;
}

.small-box2 {
    height: 10px;
    width: 50px;
    background-color: #840d0d;
    display: inline-block;
}

.big-box {
    height: 300px;
    background-color: #ff0000;
}

.line {
    height: 30px;
    background-color: #ff0000;
    margin-top: 20px;
}

.container2 {
    margin-top: 20px;
}

.small-boxes2 {
    width: 70px;
    height: 70px;
    float: left;
    background-color: rgb(0, 0, 0);
    margin-right: 5px
}

.small-line{
    height: 5px;
    background-color: #ff0000;
    margin-top: 30px;
}